/* ==========================================================================
  Global styles
============================================ */

/* Base
============================= */

@use 'base';

/* Helpers
============================= */

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.--hidden {
  display: none;
}

.rounded {
  border-radius: 50%;
}

.round-shape {
  border-radius: 50%;
  border: var(--border-small-primary);
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.rectangle-shape {
  display: inline-block;
  width: 3.625rem;
  height: 0.25rem;
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.text-center {
  text-align: center;
}

.flex-heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

main img {
  width: 100%;
  height: auto;
}

/* Layout
============================= */

.container {
  max-width: 67.5rem; // 1080px
  margin-inline: auto;
}

.px-1 {
  padding-inline: var(--padding-inline);
}

/* Grid
============================= */

ul {
  padding: 0;
  list-style: none;
}