@use '../abstracts' as *;

:root {
  /** SPACING */
  --spacing-x-small: 0.5rem;
  --spacing-xx-small: 0.75rem;
  --spacing-small: 1rem; // 16px
  --spacing-medium: 2.125rem; // 34px
  --spacing-large: 2.74rem; // 44px
  --spacing-x-large: 3.5rem; // 56px

  --padding-small: 1.5rem;
  --padding-medium: 2.125rem;
  --padding-large: 2.74rem;

  --padding-inline: var(--spacing-small);
  --border-size: 0.2rem;

  --border-small-black: var(--border-size) solid var(--color-grey);
  --border-small-primary: var(--border-size) solid var(--color-primary);

  /** SECTION **/
  --section-padding: var(--padding-medium) 0;
  --section-header-padding: 0 0 3rem;
  --section-header-align: center;
  --section-title-font-size: var(--font-size-xx-large);
  --section-title-font-weight: var(--font-weight-bold);
  --section-title-line-height: var(--line-height-small);
  --section-title-margin: 0;
  --section-title-color: var(--color-black);
  --section-tagline-transform: uppercase;
  --section-tagline-color: var(--color-primary);
  --section-tagline-font-family: var(--font-family-title);
  --section-tagline-font-weight: var(--font-weight-bold);
  --section-tagline-margin: 0;
  --section-body-padding: 2rem 0 4rem;
  --section-footer-padding: 3rem 0 0;
  --section-footer-align: center;

  /** HEADER **/
  --header-padding: var(--padding-medium) 0 var(--padding-small) 0;

  /** FOOTER **/
  --footer-padding: 5rem 0 1rem;

  /** NAVBAR **/
  --nav-item-font-family: var(--font-family-title);
  --nav-item-font-weight: var(--font-weight-bold);
  --nav-item-font-size: var(--font-size-medium);
  --nav-item-letter-spacing: .04rem;
  --nav-item-display: inline-block;
  --nav-item-margin: 0 0 0 2rem;
  --nav-item-link-hover: var(--color-white);

  /** BUTTON **/
  --button-display: inline-block;
  --button-padding: var(--spacing-x-small) var(--spacing-xx-small);
  --button-border: var(--border-small-primary);
  --button-color: var(--color-primary);
  --button-text-decoration: none;
  --button-font-size: var(--font-size-small);
  --button-hover-color: var(--color-black);
  --button-hover-text-decoration: none;
  --button-hover-background: var(--color-primary);

  /** MOTION **/
  --transition-duration: .3s;
  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

/* Base
  ============================= */

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  // @include fluid-type($min_width, $max_width, $min_font, $max_font);
  // font-size: 62.5%;
}

/* For mobile styles */
@media screen and (max-width: 30em) {
  html {
    // font-size: 57%;
  }
}

/* Form small screen and Above styles */
@media screen and (min-width: 45em) {
  html {
    // font-size: 60%;
  }
}

/* For tablet / medium styles */
@media screen and (max-width: 65em) {
  html {
    // font-size: 60%;
  }
}

body {
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-small);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
  background-color: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}

p {
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:visited {
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: var(--color-light-grey);
  border: none;
}

.button {
  border: var(--button-border);
  color: var(--button-color);
  display: var(--button-display);
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-bolder);
  letter-spacing: 0.25px;
  text-decoration: var(--button-text-decoration);
  padding: var(--button-padding);
  cursor: pointer;
}

.button:hover {
  color: var(--button-hover-color);
  text-decoration: var(--button-hover-text-decoration);
  background: var(--button-hover-background);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}

.button-primary {
  color: var(--color-white);
  background: var(--color-primary);
}

.button-primary:hover {
  color: var(--color-primary);
  background: var(--color-white);
}

section {
  padding: var(--section-padding);
  padding-inline: var(--padding-inline);
}